{% if most_viewed_products is not empty %}

    <h2>Les produits les plus vus</h2>

		<div class="container">
			<div class="row">
				{% for product in most_viewed_products %}
					<div class="col-md-4">
						{% include 'default/_product_details.html.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
{% endif %}